  .dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background-color: white;
    color: #333;
    min-height: 100vh;
  }

  .month-filter select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 140px;  /* Fixed width */
  }


  .stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .stat-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stat-box h2 {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }

  .stat-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4CAF50;
  }

  .stat-value {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .stat-chart {
    width: 100%;
    height: 50px;
  }

  .charts-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .chart-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .chart-box h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .stats-container {
      flex-direction: column;
    }

    .stat-box {
      width: 100%;
    }

    .charts-container {
      flex-direction: column;
    }

    .chart-box {
      width: 100%;
    }
  }
